#portrait_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.portrait_image
        = image_tag @portrait.image.url
      .panel-body
        %h1= @portrait.title
        %p.description= @portrait.description
      .panel-footer
        .row
          .col-md-8
            %p.user
              Submitted
              = time_ago_in_words(@portrait.created_at)
              ago by
              = @portrait.user.email
          .col-md-4
            .btn-group.pull-right
            = link_to like_portrait_path(@portrait), method: :put, class: "btn btn-default" do
              %span.glyphicon.glyphicon-heart
                = @portrait.get_upvotes.size
            - if user_signed_in?
              = link_to "Edit", edit_portrait_path, class: "btn btn-default"
              = link_to "Delete", portrait_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
#comment.row
  .col-md-8.col-md-offset-2
    %h2
      = @portrait.comments.count
      Comments
    = render @portrait.comments
    %h3 Add a comment:
    = render "comments/form"
